
/* how to style with css */



body {
  border: 7px solid green;
  margin-left: auto;
  margin-right: auto;
  background-image: url("images/background.gif");
  overflow: visible;

width: 50%;
height:50%;
}

img {
  overflow: hidden;
  float: right;
  width: 200px;
  height: auto;
  overflow-x: 0;
  overflow-y: 0;
  margin: -55px;
  padding-top: 20px;
  padding-right: 60px;
  padding-left: -40px
}


/* id can only be used once */
#red {
  border: 2px solid red;
  text-align: right;
}

/* class can be reused as much as possible */
.orange {
  border: 2px solid orange;
  text-align: right;
}

.blue {
  background-color: rgb(196, 226, 255);
  border: 2px solid blue;
  padding-bottom: 80px;
  padding-right: 17px;
  margin-top: 10px;
}

.purple {
  border: 2px solid purple;
}


#yellow {
  border: 2px solid yellow;
}

#white {
  background-color:white;
}
